$font-weight-list: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  "black": 900,
);

@each $key, $val in $font-weight-list {
  @include font("Inter", normal, $val, "../font/inter-#{$val}.woff2");
  @include font("Inter", italic, $val, "../font/inter-#{$val}-italic.woff2");
}
