:root {
	--font: "Open Sans", sans-serif;
	--font-thin: 200;
	--font-normal: 400;
	--font-medium: 500;
	--font-bold: 600;

	--color-primary: #3b7ddd;
	--color-primary-hover: #326abc;
	--color-primary-light: rgba(59, 125, 221, 0.15);

	--color-secondary: #6c757d;
	--color-secondary-hover: #686f75;
	--color-secondary-light: hsla(208, 7%, 46%, 0.15);

	--color-success: #1cbb8c;
	--color-success-hover: #189f77;
	--color-success-light: rgba(28, 187, 140, 0.15);

	--color-info: #17a2b8;
	--color-info-hover: #148a9c;
	--color-info-light: rgba(23, 162, 184, 0.15);

	--color-warning: #fcb92c;
	--color-warning-hover: #d69d25;
	--color-warning-light: rgba(252, 185, 44, 0.15);

	--color-error: #dc3545;
	--color-error-hover: #bb2d3b;
	--color-error-light: rgba(220, 53, 69, 0.15);

	--color-body: #f5f7fb;
	--color-box: #fff;

	--color-heading: #000;
	--color-heading-inverse: #fff;
	--color-text: #495057;
	--color-text-inverse: #bdc0c5;
	--color-text-muted: #939ba2;
	--color-link: #3b7ddd;
	--color-link-hover: #2f64b1;
	--color-border: #dee2e6;
	--color-border-hover: #ced4da;

	--border-width: 2px;
	--border: var(--border-width) solid var(--color-border);

	--gap: 24px;

	--radius: 4px;

	--shadow: 0 0 14px 0 rgba(33, 37, 41, 0.05);
	--drop-shadow: drop-shadow(0 0 14px rgba(33, 37, 41, 0.05));

	--transition-time: 0.3s;
	--transition: all var(--transition-time);

	color-scheme: light;
}

:root[data-theme="dark"] {
	--color-body: #19222c;
	--color-box: #222e3c;

	--color-heading: #fff;
	--color-heading-inverse: #000;
	--color-text: #bdc0c5;
	--color-text-inverse: #495057;
	--color-text-muted: #6c757d;
	--color-border: #4e5863;
	--color-border-hover: #384350;

	--border: var(--border-width) solid var(--color-border);

	--shadow: 0 0 14px 0 rgba(34, 46, 60, 0.05);
	--drop-shadow: drop-shadow(0 0 14px 0 rgba(34, 46, 60, 0.05));

	color-scheme: dark;
}
