/* ==========  Third party  ========== */
@import "reseter.css/css/reseter.min";

/* ==========  Variables, Mixins, Fonts  ========== */
@import "config/vars";
@import "config/font";

/* ==========  Global  ========== */
html, body {
	width: 100%;
	min-height: 100vh;
	min-width: 320px;
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
	font-family: var(--font);
	font-size: 1.4rem;
	font-weight: var(--font-normal);
	line-height: 1.6;
	color: var(--color-text);
	background-color: var(--color-body);
	@media (max-width: 768px) {
		line-height: 1.2;
	}
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	font-weight: var(--font-bold);
	line-height: 1.2;
	color: var(--color-heading);
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
}
h1 {font-size: 2.8em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

p {
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	border-bottom: 1px dotted var(--color-primary);
	transition: var(--transition);
	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}
}

b, strong {
	font-weight: var(--font-bold);
}

img, svg, picture {
	max-width: 100%;
}

svg {
	display: inline;
	height: 1em;
}

blockquote {
	display: block;
	width: 100%;
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
	padding: 0.5em 0 0.5em 1.5em;
	font-style: italic;
	border-left: var(--border-2) var(--color-text-muted);
}

ul, ol {
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
	padding-left: 1.4em;
	li::marker {
		color: var(--color-text-muted);
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
	text-align: left;
	th, td {
		padding: 0.75em;
	}
	th {
		font-weight: var(--font-bold);
		color: var(--color-heading);
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
}

figure {
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
}

iframe {
	display: block;
	width: 100%;
	margin: 0 0 1em 0;
	&:last-child {
		margin-bottom: 0;
	}
	border: none;
	box-shadow: none;
}

hr {
	display: block;
	width: 100%;
	margin: 1em 0;
}

::placeholder {
	color: var(--color-text-muted);
}

/* ==========  Custom  ========== */
.container {
	display: block;
	width: 100%;
	max-width: 100em;
	margin: 0 auto;
	padding: 0 2em;
	position: relative;
}

.page-content {
	flex: 1 0 auto;
}

.section {
	display: block;
	width: 100%;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		display: block;
		width: 100%;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__footer {
		display: block;
		width: 100%;
		margin: 2em 0 0 0;
	}
	&_offset {
		padding: 2em 0;
	}
	&_offset-top {
		padding-top: 2em;
	}
	&_offset-bottom {
		padding-bottom: 2em;
	}
	&_primary {
		background-color: var(--color-primary);
		* {color: #fff}
	}
}

@import "partial/header";
@import "partial/footer";

@import "partial/label";
@import "partial/helper";
