/* ==========  Third party  ========== */
@import "reseter.css/css/reseter.min";

/* ==========  Variables, Mixins, Fonts  ========== */
@import "configs/vars";
@import "configs/fonts";

/* ==========  Global  ========== */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	min-height: 100vh;
	min-width: 320px;
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: $font;
	font-size: 1.4rem;
	font-weight: $font-normal;
	line-height: 1.6;
	position: relative;
	overflow-x: hidden;
	color: $color-text;
	background-color: $color-body;
	@media (max-width: 768px) {
		line-height: 1.2;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: $font-bold;
	line-height: 1.2;
	margin: 0 0 1em 0;
	color: $color-heading;
}
h1 {font-size: 2.8em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

p {
	margin: 0 0 1em 0;
}

a {
	text-decoration: none;
	color: $color-link;
}

b, strong {
	font-weight: $font-bold;
}

img, svg, picture {
	max-width: 100%;
}

svg {
	display: inline;
	height: 1em;
	vertical-align: top;
}

blockquote {
	margin: 0;
	border-left: $border-3x $color-text-light;
	margin: 0 0 1em 0;
	padding: 0.5em 0 0.5em 1.5em;
	font-style: italic;
}

ul, ol {
	margin: 0 0 1em 0;
	padding-left: 1.3em;
}
ul li::marker {
	color: $color-text-light;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1em 0;
	text-align: left;
	th, td {
		padding: 0.75em;
	}
	th {
		font-weight: $font-bold;
		color: $color-heading;
	}
	thead th {
		border-bottom: 2px solid darken($color-box, 7%);
	}
	td {
		border-top: 1px solid darken($color-box, 7%);
		border-bottom: 1px solid darken($color-box, 7%);
	}
	tbody tr:nth-child(2n + 1) td {
		background-color: $color-box;
		input {
			background-color: $color-body;
		}
	}
	tfoot td {
		border-top: 2px solid darken($color-box, 7%);
		border-bottom: none;
	}
	.head {
		font-weight: $font-bold;
		color: $color-heading;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

figure {
	margin: 0 0 1em 0;
}

iframe {
	display: block;
	width: 100%;
	margin: 0 0 1em 0;
	border: none;
	box-shadow: none;
}

hr {
	display: block;
	width: 100%;
	margin: 1em 0;
}

/* ==========  Custom  ========== */
.container {
	display: block;
	width: 100%;
	max-width: 100em;
	margin: 0 auto;
	padding: 0 4em;
	position: relative;
	@media (max-width: 575px) {
		padding: 0 2em;
	}
}

.page-content {
	flex: 1 0 auto;
}

.section {
	display: block;
	width: 100%;
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content {
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
		*:last-child {
			margin-bottom: 0;
		}
	}
	&__footer {
		display: block;
		width: 100%;
		margin: 2em 0 0 0;
	}
	&_offset {
		padding: 4em 0;
	}
	&_offset-top {
		padding-top: 4em;
	}
	&_offset-bottom {
		padding-bottom: 4em;
	}
	&_primary {
		background-color: $color-primary;
		* {color: #fff}
	}
}

.loader {
	display: inline-block;
	width: 5.5em;
	height: 2em;
	position: relative;
	span {
		position: absolute;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		background-color: $color-primary;
		animation: loader_anim 1s infinite ease-in-out;
		&:nth-child(1) {
			left: 0;
		}
		&:nth-child(2) {
			left: 1.5em;
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			left: 3em;
			animation-delay: 0.2s;
		}
		&:nth-child(4) {
			left: 4.5em;
			animation-delay: 0.3s;
		}
	}
}
.btn .loader {
	width: 3.5em;
	height: 1em;
	span {
		width: 0.5em;
		height: 0.5em;
		background-color: #fff;
		animation-name: loader_anim_btn;
		&:nth-child(1) {
			left: 0;
		}
		&:nth-child(2) {
			left: 1em;
		}
		&:nth-child(3) {
			left: 2em;
		}
		&:nth-child(4) {
			left: 3em;
		}
	}
}

.box {
	display: block;
	width: 100%;
	padding: 2em;
	border-radius: $brs;
	background-color: $color-box;
	position: relative;
	&_primary {
		background-color: $color-primary;
		* {color: #fff}
	}
}

.label {
	display: inline-block;
	padding: 0.4em;
	border-radius: 0.3rem;
	font-size: 0.7em;
	font-weight: $font-bold;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	&.primary {
		color: #fff;
		background-color: $color-primary;
	}
	&.success {
		color: #fff;
		background-color: $color-success;
	}
	&.info {
		color: #fff;
		background-color: $color-info;
	}
	&.warning {
		color: #fff;
		background-color: $color-warning;
	}
	&.error {
		color: #fff;
		background-color: $color-error;
	}
}

@import "partials/animation";
@import "partials/button";
@import "partials/form";
@import "partials/grid";
@import "partials/toasts";

@import "partials/header";
@import "partials/footer";

@import "partials/helpers";