@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-stretch: 100%;
		font-display: swap;
		src:
			local(""),
			url($furl + ".woff2") format("woff2"),
			url($furl + ".ttf") format("truetype");
	}
}

@include font("Open Sans", normal, 400, "../fonts/OpenSans-Regular");
@include font("Open Sans", normal, 600, "../fonts/OpenSans-SemiBold");

@include font("Open Sans", italic, 400, "../fonts/OpenSans-Italic");
@include font("Open Sans", italic, 600, "../fonts/OpenSans-SemiBoldItalic");
