/* ==========  Font  ========== */
$font: "Open Sans", sans-serif;

/* ==========  Font Weight  ========== */
$font-normal: 400;
$font-bold: 600;

/* ==========  Colors  ========== */
$color-primary: #006DB3;
$color-success: #51a351;
$color-info: #2f96b4;
$color-warning: #f89406;
$color-error: #dc3545;
$color-body: #FFFFFF;
$color-box: #F8F8FA;
$color-heading: #000000;
$color-text: #000000;
$color-text-light: #C4C4C4;
$color-link: $color-primary;
$color-border: #E2E2E2;

/* ==========  Grid  ========== */
$row_gap: 2em;

$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$breakpoints_reverse: (
	xs: 575px,
	sm: 767px,
	md: 991px,
	lg: 1199px,
	xl: 1399px
);

/* ==========  Templates  ========== */
$border: 1px solid;
$border-2x: 2px solid;
$border-3x: 4px solid;

$brs: 0.4em;

$box-shadow: 0 0px 2px rgba(#000, 0.16), 0 0px 2px rgba(#000, 0.23);
$box-shadow-2x: 0 0px 6px rgba(#000, 0.16), 0 0px 6px rgba(#000, 0.23);

$transition: all .3s;

%reset-btn {
	outline: none;
	border: none;
	background: none;
	box-shadow: none;
	user-select: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font: inherit;
}