/* ==========  Font  ========== */
$font: "Open Sans", sans-serif;

/* ==========  Font Weight  ========== */
$font-normal: 400;
$font-bold: 600;

/* ==========  Colors  ========== */
$color-primary: #006DB3;
$color-success: #28a745;
$color-info: #3b7ddd;
$color-warning: #ffc107;
$color-error: #dc3545;
$color-body: #FFFFFF;
$color-box: #F8F8FA;
$color-heading: #000000;
$color-text: #000000;
$color-text-light: #C4C4C4;
$color-link: $color-primary;
$color-border: #E2E2E2;

/* ==========  Templates  ========== */
$border: 1px solid;
$border-2x: 2px solid;
$border-3x: 4px solid;

$brs: 0.3em;

$box-shadow: 0 0px 2px rgba(#000, 0.16), 0 0px 2px rgba(#000, 0.23);
$box-shadow-2x: 0 0px 6px rgba(#000, 0.16), 0 0px 6px rgba(#000, 0.23);

$transition: all .3s;

%reset-btn {
	outline: none;
	border: none;
	background: none;
	box-shadow: none;
	user-select: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font: inherit;
}