<!DOCTYPE html>
<html lang="en">

<head>	
	<title>FrontEnd Starter</title>

	<meta charset="utf-8">
	<meta name="author" content="github.com/zakandaiev">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="uk_UA">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:keywords" content="">
	<meta property="og:image" content="">

	<link rel="canonical" href="">

	<link rel="icon" href="./favicon.ico" sizes="any">
	<link rel="icon" href="./favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="./apple-touch-icon.png">
	<link rel="image_src" href="">
	
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>
	<header id="header" class="header section_offset">
		<div class="container">
			<div class="d-flex align-items-center">
				<div class="m-r-4">
					<img src="./img/gulp_logo.svg" alt="Gulp Logo" height="100">
				</div>
				<div>
					<h1 class="m-b-1">FrontEnd Starter</h1>
					<p class="m-none"><span class="color-accent-2"><b><a href="https://github.com/zakandaiev/frontend-starter" target="_blank" class="bordered">FrontEnd Starter</a></b></span> is all-inclusive boilerplate for easy building sites using task manager Gulp 4</p>
				</div>
			</div>
		</div>
	</header>

	<main class="container page-content">