@mixin font($name, $style, $weight, $url, $format: "woff2") {
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		font-stretch: 100%;
		font-display: swap;
		src: local(""), url($url + "." + $format) format($format);
	}
}
