.box {
  display: flex;
  flex-direction: column;

  padding: 1.5em;
  border-radius: var(--radius-md);

  background: var(--color-box);

  // box-shadow: var(--shadow);

  // .box__icon
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 2em;
    margin: 0 0 0.8em;
    border-radius: 0.25em;

    font-size: 1.5em;
    color: var(--color-primary);
    text-align: center;

    background: var(--color-border);
  }

  // .box__title
  &__title {
    display: block;
    font-weight: var(--font-medium);
    color: var(--color-heading);
  }

  // .box__text
  &__text {
    display: block;
    margin: 0.5em 0 0;
    font-size: 0.875em;
  }
}
