/* ==========  Flexbox  ========== */
.d-flex {
	display: flex !important;
}

.d-inline-flex {
	display: inline-flex !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}

.flex-column {
	flex-direction: column !important;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-around {
	justify-content: space-around !important;
}

.justify-content-evenly {
	justify-content: space-evenly !important;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.align-self-start {
	align-self: flex-start !important;
}

.align-self-center {
	align-self: center !important;
}

.align-self-end {
	align-self: flex-end !important;
}

.flex-grow-0 {
	flex-grow: 0 !important;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}

.flex-grow-2 {
	flex-grow: 2 !important;
}

.flex-shrink-0 {
	flex-shrink: 0 !important;
}

.flex-shrink-1 {
	flex-shrink: 1 !important;
}

.flex-shrink-2 {
	flex-shrink: 2 !important;
}

$indent-step: 0.5;
@for $i from 0 through 20 {
	.gap-#{$i} {
		gap: #{$i * $indent-step}rem !important;
	}
}

/* ==========  Margin  ========== */
.m-0 {
	margin: 0 !important;
}

$indent-step: 0.5;
@for $i from -10 through 10 {
	.m-t-#{$i} {
		margin-top: #{$i * $indent-step}rem !important;
	}
	.m-r-#{$i} {
		margin-right: #{$i * $indent-step}rem !important;
	}
	.m-b-#{$i} {
		margin-bottom: #{$i * $indent-step}rem !important;
	}
	.m-l-#{$i} {
		margin-left: #{$i * $indent-step}rem !important;
	}
	.m-x-#{$i} {
		margin-left: #{$i * $indent-step}rem !important;
		margin-right: #{$i * $indent-step}rem !important;
	}
	.m-y-#{$i} {
		margin-top: #{$i * $indent-step}rem !important;
		margin-bottom: #{$i * $indent-step}rem !important;
	}
	.m-#{$i} {
		margin: #{$i * $indent-step}rem !important;
	}
}

.m-t-auto {
	margin-top: auto !important;
}

.m-r-auto {
	margin-right: auto !important;
}

.m-b-auto {
	margin-bottom: auto !important;
}

.m-l-auto {
	margin-left: auto !important;
}

.m-x-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.m-y-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.m-auto {
	margin: auto !important;
}

/* ==========  Padding  ========== */
.p-0 {
	padding: 0 !important;
}

$indent-step: 0.5;
@for $i from -10 through 10 {
	.p-t-#{$i} {
		padding-top: #{$i * $indent-step}rem !important;
	}
	.p-r-#{$i} {
		padding-right: #{$i * $indent-step}rem !important;
	}
	.p-b-#{$i} {
		padding-bottom: #{$i * $indent-step}rem !important;
	}
	.p-l-#{$i} {
		padding-left: #{$i * $indent-step}rem !important;
	}
	.p-x-#{$i} {
		padding-left: #{$i * $indent-step}rem !important;
		padding-right: #{$i * $indent-step}rem !important;
	}
	.p-y-#{$i} {
		padding-top: #{$i * $indent-step}rem !important;
		padding-bottom: #{$i * $indent-step}rem !important;
	}
	.p-#{$i} {
		padding: #{$i * $indent-step}rem !important;
	}
}

/* ==========  Text  ========== */
$indent-step: 0.5;
@for $i from 0 through 20 {
	.font-size-#{$i} {
		font-size: #{$i * $indent-step}rem !important;
	}
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.font-thin {
	font-weight: var(--font-thin) !important;
}

.font-normal {
	font-weight: var(--font-normal) !important;
}

.font-bold {
	font-weight: var(--font-bold) !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-normal {
	font-style: normal !important;
}

.text-italic {
	font-style: italic !important;
}

/* ==========  Decoration  ========== */
.radius {
	border-radius: var(--radius) !important;
}

.rounded {
	border-radius: 50% !important;
}

.bordered {
	border: var(--border) !important;
}

/* ==========  Table  ========== */
.table-fixed {
	table-layout: fixed !important;
}

/* ==========  Visibility  ========== */
.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-none {
	display: none !important;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

/* ==========  Dimension  ========== */
.w-100 {
	width: 100% !important;
}

.w-75 {
	width: 75% !important;
}

.w-50 {
	width: 50% !important;
}

.w-25 {
	width: 25% !important;
}

.w-auto {
	width: auto !important;
}

.h-100 {
	height: 100% !important;
}

.h-75 {
	height: 75% !important;
}

.h-50 {
	height: 50% !important;
}

.h-25 {
	height: 25% !important;
}

.h-auto {
	height: auto !important;
}

$indent-step: 1;
@for $i from 1 through 10 {
	.w-#{$i}em {
		width: #{$i * $indent-step}em !important;
	}
	.w-#{$i}rem {
		width: #{$i * $indent-step}rem !important;
	}
	.h-#{$i}em {
		height: #{$i * $indent-step}em !important;
	}
	.h-#{$i}rem {
		height: #{$i * $indent-step}rem !important;
	}
}

.fit-contain {
	object-fit: contain !important;
}

.fit-cover {
	object-fit: cover !important;
}

/* ==========  Color  ========== */
.color-heading {
	color: var(--color-heading) !important;
}

.color-text {
	color: var(--color-text) !important;
}

.color-muted {
	color: var(--color-text-muted) !important;
}

.color-link {
	color: var(--color-link) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-link-hover) !important;
		}
	}
}

.color-primary {
	color: var(--color-primary) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-primary-hover) !important;
		}
	}
}

.color-secondary {
	color: var(--color-secondary) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-secondary-hover) !important;
		}
	}
}

.color-success {
	color: var(--color-success) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-success-hover) !important;
		}
	}
}

.color-info {
	color: var(--color-info) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-info-hover) !important;
		}
	}
}

.color-warning {
	color: var(--color-warning) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-warning-hover) !important;
		}
	}
}

.color-error {
	color: var(--color-error) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			color: var(--color-error-hover) !important;
		}
	}
}

.background-primary {
	background-color: var(--color-primary) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-primary-hover) !important;
		}
	}
}

.background-secondary {
	background-color: var(--color-secondary) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-secondary-hover) !important;
		}
	}
}

.background-success {
	background-color: var(--color-success) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-success-hover) !important;
		}
	}
}

.background-info {
	background-color: var(--color-info) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-info-hover) !important;
		}
	}
}

.background-warning {
	background-color: var(--color-warning) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-warning-hover) !important;
		}
	}
}

.background-error {
	background-color: var(--color-error) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-error-hover) !important;
		}
	}
}

.background-border {
	background-color: var(--color-border) !important;

	&_hover {
		transition: var(--transition);

		&:hover, &:focus, &:active {
			background-color: var(--color-border-hover) !important;
		}
	}
}

.background-body {
	background-color: var(--color-body) !important;
}

.background-box {
	background-color: var(--color-box) !important;
}

/* ==========  Cursors  ========== */
.cursor-pointer {
	cursor: pointer !important;
}

.cursor-default {
	cursor: default !important;
}

/* ==========  Position  ========== */
.position-initial {
	position: initial !important;
}

.position-static {
	position: static !important;
}

.position-relative {
	position: relative !important;
}

.position-sticky {
	position: sticky !important;
	top: 0 !important;
	height: auto !important;
	max-height: 100vh !important;
	overflow-y: auto !important;
}
