.label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	padding: 0.45em;
	border-radius: var(--radius);
	color: var(--color-text);
	background: var(--color-body);
	font-size: 1.125rem;
	font-weight: var(--font-bold);
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	// .label__close
	&__close {
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 0 0.5em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: currentColor;

		& > * {
			font-size: 1.125em;
		}
	}

	// .label_close
	&_close {
		position: relative;
		padding-right: 2em;
	}

	// .label_cancel
	&_cancel {
		background: var(--color-border);
	}

	// .label_primary
	&_primary {
		color: #fff;
		background: var(--color-primary);

		&.label_light {
			color: var(--color-primary);
			background: var(--color-primary-light);
		}
	}

	// .label_secondary
	&_secondary {
		color: #fff;
		background: var(--color-secondary);

		&.label_light {
			color: var(--color-secondary);
			background: var(--color-secondary-light);
		}
	}

	// .label_success
	&_success {
		color: #fff;
		background: var(--color-success);

		&.label_light {
			color: var(--color-success);
			background: var(--color-success-light);
		}
	}

	// .label_info
	&_info {
		color: #fff;
		background: var(--color-info);

		&.label_light {
			color: var(--color-info);
			background: var(--color-info-light);
		}
	}

	// .label_warning
	&_warning {
		color: #fff;
		background: var(--color-warning);

		&.label_light {
			color: var(--color-warning);
			background: var(--color-warning-light);
		}
	}

	// .label_error
	&_error {
		color: #fff;
		background: var(--color-error);

		&.label_light {
			color: var(--color-error);
			background: var(--color-error-light);
		}
	}
}
