.section {
	display: block;

	// .section__title
	&__title {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 0.5em;
		font-size: 2.4rem;
		font-weight: var(--font-normal);
		color: var(--color-heading);
	}

	// .section__actions
	&__actions {
		flex-shrink: 0;
		display: flex;
		align-items: stretch;
		gap: 0.5em;
	}

	// .section_offset
	&_offset {
		padding: var(--gap) 0;
	}

	// .section_offset-top
	&_offset-top {
		padding-top: var(--gap);
	}

	// .section_offset-bottom
	&_offset-bottom {
		padding-bottom: var(--gap);
	}

	// .section_grow
	&_grow {
		flex-grow: 1;
	}
}
