.box {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  border-radius: var(--radius-md);

  background: var(--color-box);
  // box-shadow: var(--shadow-md-medium);

  // .box__icon
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 4.8rem;
    height: 4.8rem;
    margin: 0 0 1.4rem;
    border-radius: var(--radius-sm);

    font-size: 2.4rem;
    color: var(--color-primary);
    text-align: center;

    background: var(--color-border-regular);
  }

  // .box__title
  &__title {
    display: block;
    font-weight: var(--font-medium);
    color: var(--color-heading);
  }

  // .box__text
  &__text {
    display: block;
    margin: 0.8rem 0 0;
    font-size: 1.4rem;
  }
}
