.hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  // .hero__main
  &__main {
    order: 2;
  }

  // .hero__title
  &__title {
    display: block;

    font-size: 3.2rem;
    font-weight: var(--font-bold);
    line-height: 1.2;
    color: var(--color-primary);
    text-align: center;
  }

  // .hero__subtitle
  &__subtitle {
    display: block;

    font-size: 3.2rem;
    font-weight: var(--font-bold);
    line-height: 1.2;
    color: var(--color-heading);
    text-align: center;
  }

  // .hero__text
  &__text {
    display: block;

    margin: 1.2rem 0 0;

    font-size: 1.8rem;
    font-weight: var(--font-medium);
    line-height: inherit;
    color: var(--color-text);
    text-align: center;
  }

  // .hero__actions
  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;

    margin: 3.2rem 0 0;
  }

  // .hero__image
  &__image {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;

    text-align: center;

    &::before {
      content: "";

      position: absolute;
      z-index: var(--zi-below);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 16rem;
      height: 16rem;

      background: linear-gradient(-45deg, var(--color-primary) 50%, var(--color-secondary) 50%);
      filter: blur(7.2rem);
    }

    & > * {
      display: block;
      flex-shrink: 0;
      width: auto;
      height: 16rem;
    }
  }
}

@include query(md) {
  .hero {
    // .hero__title
    &__title {
      font-size: 4rem;
    }

    // .hero__subtitle
    &__subtitle {
      font-size: 4rem;
    }

    // .hero__text
    &__text {
      font-size: 2rem;
    }

    // .hero__image
    &__image {
      &::before {
        width: 20rem;
        height: 20rem;
      }

      & > * {
        height: 20rem;
      }
    }
  }
}

@include query(lg) {
  .hero {
    flex-direction: row;
    gap: 0;

    // .hero__main
    &__main {
      flex: 0 0 50%;
      order: 1;
    }

    // .hero__image
    &__image {
      flex: 0 0 50%;
      order: 2;

      &::before {
        width: 26rem;
        height: 26rem;
      }

      & > * {
        height: 26rem;
      }
    }

    // .hero__title
    &__title {
      font-size: 4.8rem;
      text-align: left;
    }

    // .hero__subtitle
    &__subtitle {
      font-size: 4.8rem;
      text-align: left;
    }

    // .hero__text
    &__text {
      font-size: 2.4rem;
      text-align: left;
    }

    // .hero__actions
    &__actions {
      justify-content: flex-start;
    }
  }
}
