.label {
  @include ellipsis;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  padding: 0.25em 0.5em;
  border: var(--border);
  border-radius: 0.5em;

  font-size: 1rem;
  font-weight: var(--font-bold);
  line-height: 1;
  color: var(--color-heading);
  text-align: center;
  vertical-align: middle;

  background: var(--color-body);

  // .label_cancel
  &_cancel {
    border-color: var(--color-border);
    background: var(--color-border);
  }

  @each $color in $accent-color-list {
    &_#{$color} {
      border-color: var(--color-#{$color});
      color: #fff;
      background: var(--color-#{$color});
    }
  }
}
