.label {
  @include ellipsis;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  padding: 0.4rem 1.2rem;
  border: var(--border-md-medium);
  border-radius: var(--radius-xs);

  font-size: 1rem;
  font-weight: var(--font-bold);
  line-height: 1;
  color: var(--color-heading);
  text-align: center;
  vertical-align: middle;

  background: var(--color-body);

  // .label_cancel
  &_cancel {
    border-color: var(--color-border-regular);
    background: var(--color-border-regular);
  }

  @each $color in $accent-color-list {
    &_#{$color} {
      border-color: var(--color-#{$color});
      color: var(--color-#{$color}-text);
      background: var(--color-#{$color});
    }
  }
}
