<div class="hero section_offset">
  <div class="hero__main">
    <h1 class="hero__title">{{ APP_NAME_FORMATTED }}</h1>

    <h2 class="hero__subtitle">Modern&nbsp;Tooling</h2>

    <h3 class="hero__text">{{ APP_DESCRIPTION }}</h3>

    <div class="hero__actions">
      <a href="./guide" class="btn btn_primary">Get Started</a>
      <a href="{{ APP_REPOSITORY }}" target="_blank" class="btn">View on GitHub</a>
    </div>
  </div>

  <div class="hero__image">
    <img src="./favicon.svg" alt="HTML5 Logo" height="320">
  </div>
</div>
