@keyframes loader_anim {
	0% {
		transform: translateY(0);
		transform: translateY(0);
		opacity: 0.25;
	}
	50% {
		transform: translateY(1em);
		transform: translateY(1em);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		transform: translateY(0);
		opacity: 0.25;
	}
}
@keyframes loader_anim_btn {
	0% {
		transform: translateY(0);
		transform: translateY(0);
		opacity: 0.25;
	}
	50% {
		transform: translateY(0.5em);
		transform: translateY(0.5em);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		transform: translateY(0);
		opacity: 0.25;
	}
}